/* HOME PAGE */
.benefits-membership {
  padding-bottom: 0px;
}
@media (max-width: 991.98px) {
  .benefits-membership {
    padding-bottom: 20px;
  }
}

@media (max-width: 1198.98px) {
  .benefits-items .col-md-4 {
    padding: 0 20px;
  }
}

.benefits-items p {
	color: #00234b;
}
.benefits-footer p {
	margin: 0;
	font-size: .75rem;
	color: #00234b;
}
.benefits-footer {
	background-color: #f4f5f5;
	padding: 0rem 2rem;
}

@media (max-width: 767.98px) {
	.benefits-footer .col-items {
		padding: 1rem 0;
	}
	.benefits-footer .with-border {
		border-bottom: 1px solid #e2e2e2;
		width: 100%;
		margin: auto;
	}
	.benefits-footer p {
		text-align: center;
  }
  .benefits-icon {
    text-align: center;
  }
}

@media (min-width: 768px) {
	.benefits-footer {
		padding: 1rem 3rem;
	}
	.benefits-footer p {
		line-height: 3;
	}
	.benefits-footer .with-border {
		border-right: 1px solid #e2e2e2;
	}
}


.responsive-img__wrapper {
	overflow: hidden;
	position: relative;
	background: url("/uploads/pga-journey.jpg") no-repeat center;
	background-size: cover;
	height: 400px;
	background-position: 74% 27%;
}

.responsive-img__wrapper img {
	max-width: 100%;
	height: auto;
}


@media (min-width: 768px) {
	.journeys__wrapper {
    max-height: 346px;
	}
}

@media (min-width: 992px) {
	.journeys__wrapper {
		padding: 1rem 2rem;
    margin-right: 1.5rem;
	}
}

@media (min-width: 1200px) {
	.journeys__wrapper {
		padding: 1rem 3rem;
    margin-right: 1.5rem;
	}
}
@media (max-width: 991.98px) {
	.journeys__wrapper {
		padding: 1rem;
    margin-bottom: 1rem;
	}
	.journeys__wrapper .journeys__header {
		justify-content: center;
	}
}
@media (min-width: 768px) {
	.journeys__wrapper .journeys__header {
		margin: 1rem 0;
	}
	.journeys__wrapper .journeys__header .title {
		margin-left: 1rem;
		padding-left: 1rem;
		border-left: 1px solid white;
	}
}
@media (max-width: 767.98px) {
	.journeys__wrapper .journeys__header {
		flex-direction: column;
	}
 }



.journeys__wrapper .journeys__header .title {
	line-height: 2.5;
	font-size: 26px;
}
@media (max-width: 1139px) {
	.journeys__wrapper .journeys__header .title {
		font-size: 22px;
	}
}

/* 
.journeys__wrapper {
  @include media-breakpoint-up(md) {
    max-height: 346px;
  }
  @include media-breakpoint-up(lg) {
    padding: 1rem 2rem;
    margin-right: 1.5rem;
  }
  @include media-breakpoint-up(xl) {
    padding: 1rem 3rem;
    margin-right: 1.5rem;
  }
  @include media-breakpoint-down(md) {
    padding: 1rem;
    margin-bottom: 1rem;
  }
  .journeys__header {
    @extend .row, .align-items-center;
    @include media-breakpoint-down(md) {
      justify-content: center;
    }
    @include media-breakpoint-up(sm) {
      margin: 1rem 0;
    }
    @media (max-width: map-get($grid-breakpoints, sm)) {
      flex-direction: column;
    }
    .title {
      line-height: 2.5;
      font-size: 26px;
      @include media-breakpoint-up(sm) {
        margin-left: 1rem;
        padding-left: 1rem;
        border-left: 1px solid white;
      }
      @media (max-width: 1139px) {
        font-size: 22px;
      }
    }
    img {
      @include media-breakpoint-up(sm) {
        margin-left: 1rem;
      }
      @include media-breakpoint-down(sm) {
        padding: 1rem;
      }
    }
  }
  .journeys__lead {
    color: white;
    font-size: .9rem;
    @include media-breakpoint-down(md) {
      max-width: 768px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: .5rem;
    }
  }
  .journeys__video {
    padding: 0;
    border: 0;
    cursor: pointer;
    @include media-breakpoint-down(sm) {
      width: 100%;
      img {
        width: 100%;
      }
    }
  }
  .journeys__video-text {
    @extend .mt-2;
    color: $primary;
    @media (min-width: map-get($grid-breakpoints, lg)) {
      font-size: .75rem;
    }
  }
} */


/* PGA CHAMPIONSHIPS PAGE */
@media (max-width: 991.98px) {
  .stack-on-mobile {
    display: flex;
    flex-direction: column;
  }
  .stack-on-mobile img {
    width: 100%;
    margin-bottom: 1rem;
  }
  .stack-on-mobile p {
    padding: 0;
  }
}
@media (min-width: 992px) {
  .stack-on-mobile img {
    float: left;
    width: 367px;
    margin-right: 1rem;
  }
  .stack-on-mobile p {
    overflow: auto;
  }
}

.svg-top {
  position: absolute;
  right: 40%;
  margin-top: -2.2rem;
  z-index: 1;
}

.box-shadow-1 {
  box-shadow: 0 5px 10px 0 rgba(0,35,75,.15);
}
