hr.history {
  margin: 40px 0px 30px 0px;
}
.timeline-main-container {
  display: flex;
  margin: 20px auto 0 auto;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 1000px;
  position: relative;
}
.timeline__content {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  color: #8191a5;
  background-color: #fff;
  width: 100%;
}
.timeline__content-desc {
  margin: 0;
  font-size: 15px;
  box-sizing: border-box;
  color: #8191a5;
  font-weight: normal;
  line-height: 25px;
  padding: 20px;
  right: calc(-100% - 56px);
}

.timeline-main-container:before {
  position: absolute;
  left: 50%;
  width: 3px;
  height: calc(100% - 140px);
  margin-left: -1px;
  content: "";
  background: #ab9157;
}
@media only screen and (max-width: 767px) {
  .select-narrow {
    width: 100%;
  }
} 
.timeline-container {
  width: 100%;
  position: relative;
  padding: 20px 25px 80px 10px;
  margin: 0px 0 0 0;
  transition: 0.25s linear 0s;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.timeline-container:before {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(99, 99, 99, 0.2);
  content: "";
}
.timeline__img {
  max-width: 100%;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  /* display: none; */
}
.timeline-header {
  width: 100%;
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.timeline-header__title {
  color: #fff;
  font-size: 46px;
  font-weight: normal;
  margin: 0;
}
.timeline-header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 5px;
  margin: 10px 0 0 0;
  font-weight: normal;
}
/* // Decade Markers */
.timeline-period__title {
  background-color: #ab9157;
  border-radius: 50%;
  letter-spacing: 3px;
  width: 90px;
  height: 90px;
  position: relative;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: "Playfair Display", serif;
  margin: 0px auto 50px auto;
  padding: 17px 0px 23px 3px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
/* /* // Generic Item Style */
/* // ------------------ */
/* // Item Odd - Left */ */
.timeline-item {
  padding: 100px 0px 0px 0px;
  margin: 45px 0px 45px 0px;
  filter: opacity(0);
  transition: 0.9s;
  box-sizing: border-box;
  width: calc(50% - 90px);
  display: flex;
  position: relative;
  transform: translate(-50px,0px);
  left: 50px;
}
/* // Item even - Right */
.timeline-item-even {
  padding: 100px 0px 0px 0px;
  margin: 45px 0px 0px 0px;
  filter: opacity(0);
  transition: 0.9s;
  box-sizing: border-box;
  width: calc(50% - 90px);
  display: flex;
  position: relative;
  transform: translate(50px,0px);
  align-self: flex-end;
  left: -50px;
}
/* // Item Date marker styles */
/* // ----------------------- */
/* // Date Marker Odd - Left */
.timeline-item:before {
  width: 61px;
  /* height: 25px; */
  height: 18px;
  border-radius: 14px;
  background-color: theme-color("secondary");
  content: attr(data-text);
  letter-spacing: 3px;
  position: absolute;
  color: #fff;
  font-size: 14px;
  top: 50%;
  margin-top: -5px;
  padding: 0px 7px 27px 12px;
  text-align: center;
  opacity: 0;
  right: -140px;
}
/* // Date Marker even - Right */
.timeline-item-even:before {
  width: 61px;
  /* height: 25px; */
  height: 18px;
  border-radius: 14px;
  background-color: theme-color("secondary");
  content: attr(data-text);
  letter-spacing: 3px;
  position: absolute;
  color: #fff;
  font-size: 14px;
  top: 50%;
  margin-top: -5px;
  padding: 0px 7px 27px 12px;
  text-align: center;
  opacity: 0;
  left: -140px;
}
/* // Active Styles */
/* // ------------- */
/* // Active Item Odd - Left */
.timeline-item.active {
  padding: 0px 0px 100px 0px;
  transform: translate(0,0);
  margin: 45px 0px 45px 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: calc(50% - 40px);
  filter: opacity(1);
  transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
}
.timeline-item.active .timeline__content-title {
  margin: -50px 0 20px 0;
}
/* // Active Item even - Right */
.timeline-item-even.active {
  padding: 0px 0px 100px 0px;
  transform: translate(0,0);
  margin: 45px 0px 0px 0px;
  margin-right: 0px;
  margin-left: 0px;
  width: calc(50% - 90px);
  filter: opacity(1);
  transition: 1.5s ease-in-out;
  align-self: flex-end;
}
/* // Active Item Date Marker Odd - Left */
.timeline-item.active:before {
  content: attr(data-text);
  top: calc(50% - 60px);
  right: -70px;
  transition: 0.9s all 0.2s;
  opacity: 1;
  width: 61px;
  height: 18px;
  border-radius: 14px;
  background: #00234b;
  letter-spacing: 3px;
  position: absolute;
  color: #fff;
  font-size: 14px;
  margin-top: -5px;
  padding: 0px 0px 27px 5px;
  text-align: center;
}
/* // Active Item Date Marker even - Right */
.timeline-item-even.active:before {
  content: attr(data-text);
  top: calc(50% - 60px);
  left: -70px;
  transition: 0.9s all 0.2s;
  opacity: 1;
  width: 61px;
  /* height: 25px; */
  height: 18px;
  border-radius: 14px;
  background-color: #00234b;
  letter-spacing: 3px;
  position: absolute;
  color: #fff;
  font-size: 14px;
  margin-top: -5px;
  padding: 0px 0px 27px 5px;
  text-align: center;
}
/* // small screen media */
/* // ------------------ */
@media only screen and (max-width: 767px) {
  /* // Item Odd - Left */
  .timeline-item {
    align-self: baseline;
    width: 100%;
    padding: 0 30px 20px 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translate(-25px,0);
    left: 0;
  }
  /* // Active Item Odd - Left */
  .timeline-item.active {
    width: 100%;
    padding: 0 30px 20px 30px;
    transform: translate(0,0);
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 0px;
    margin-left: 0px;
    filter: opacity(1);
    transition: 0.9s ease-in-out;
  }
  /* // Item even - Right */
  .timeline-item-even {
    width: 100%;
    padding: 0 30px 20px 30px;
    margin-right: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
    transform: translate(25px,0);
    align-self: flex-end;
    left: 0;
  }
  /* // Active Item even - Right */
  .timeline-item-even.active {
    width: 100%;
    padding: 0 30px 20px 30px;
    margin-right: 0px;
    transform: translate(0,0);
    margin-top: 30px;
    margin-bottom: 30px;
    filter: opacity(1);
    align-self: flex-end;
  }
  /* // Item Date Marker Odd - Left */
  .timeline-item:before {    
    top: -40px;
    left: calc(50% - 30px);
    padding: 0;
    text-align: center;
    width: 60px;
    border: none;
  }
  /* // Item Date Marker Odd Active - Left */
  .timeline-item.active:before {    
    top: -40px;
    left: calc(50% - 30px);
    padding: 0 0 0 5px;
    text-align: center;
    width: 60px;
    border: none;
  }
  /* // Item Date Marker even - Right */
  .timeline-item-even:before {    
    top: -40px;
    left: calc(50% - 30px);
    padding: 0;
    text-align: center;
    width: 60px;
    border: none;
  }
  /* // Item Date Marker even Active - Right */
  .timeline-item-even.active:before {    
    top: -40px;
    left: calc(50% - 30px);
    padding:  0 0 0 5px;
    text-align: center;
    width: 60px;
    border: none;
    transform: none;
  }
  /* // last Item */
  .timeline-item:last-child {
    padding-bottom: 40px;
  }
}

/* // Hall of fame styles */
.history-hall {
  color: #8191a5;
  font-weight: 500;
}
.history-hall h3 {
  margin: 25px 0px 25px 0px !important;
}
.history-hall h3.first {
  margin-top: 5px !important;
}

.header-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 30px 0px 30px 0px;
  /* @include media-breakpoint-down(xs) {
    flex-direction: column;
    margin-bottom: 15px;
  } */
}
.header-nav .active {
  color: theme-color("secondary");
  border-bottom: 2px solid #ab9157;
  margin-right: 15px;
  margin-left: 15px;
  font-weight: 600;
  /* @include media-breakpoint-down(sm) {
    font-size: .8rem;
  } */
  /* @include media-breakpoint-down(xs) {
    margin-bottom:10px;
    font-size: .8rem;
  } */
}
.header-nav a,
.header-nav a:visited {
  border-bottom: 2px solid transparent;
  margin-right: 15px;
  margin-left: 15px;
  /* @include media-breakpoint-down(sm) {
    font-size: .8rem;
  }
  @include media-breakpoint-down(xs) {
    margin-bottom:10px;
  } */
}
.header-nav a:hover {
  border-bottom: 2px solid #ab9157;
}

.table-heading {
  border-bottom: 3px solid #d8d8d8;
  margin-bottom: 0px;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 30px;
  display: inline-block;
}

.collapse-row {
  border-bottom: 1px solid #d8d8d8;
  margin: 10px 0px 10px 0px;
  padding: 0px 0px 10px 0px;
}
.collapse-header {
  padding: 0px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.collapse-header .head {
  width: 155px;
  min-width: 155px;
  border-right: 3px solid #d8d8d8;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.5;
  color: theme-color("secondary");
  padding: 0px 10px 0px 0px;
  margin: 10px 0px;
  /* @include media-breakpoint-down(sm) {
    width: 100px;
    min-width: 100px;
  } */
}
.collapse-header .sub-head {
  color: theme-color("secondary");
  padding: 0px 0px 0px 20px;
  flex-grow: 2;
}
.collapse-header .toggle {
  padding: 0px 10px 0px 20px;
}
.collapse-header .toggle a.toggle-expand-president,
.collapse-header .toggle a.toggle-expand-president:visited {
  color: theme-color("secondary") !important;
}
a.toggle-expand-president[aria-expanded="true"] .fa-plus {
  display: none;
}
a.toggle-expand-president[aria-expanded="false"] .fa-minus {
  display: none;
}
a#toggle-expand[aria-expanded="true"] .readMore {
  display: none;
}
a#toggle-expand[aria-expanded="false"] .readLess {
  display: none;
}
