---
title: Apprentice Program
layout: default-jumbo
permalink: /how-to-become-a-pga-member/associate-program-old
---
<div class="jumbotron jumbotron-fluid jumbotron-thin editable">
  <img class="jumbotron-image" src="/uploads/become-a-member-header.jpg" data-src="/uploads/become-a-member-header.jpg" alt="">
  <div class="jumbotron-body text-center text-white">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-7 mx-auto">
          <h1>The PGM Associate Program</h1>
          <p class="mx-auto">Take the steps to become a PGA Member and build your career in golf.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="section-indent">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mx-auto">
        <div class="tiles-wrapper">
          <div class="benefits-items text-center editable">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <p class="lead mb-0 text-secondary">To apply for membership with the PGA, you must first be accepted into the PGM Associate Program by meeting the milestones listed below.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-footer">
  <div class="container-fluid">
    <div class="row  justify-content-center">
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="bg-navy tiles-stretch py-5 px-4  text-center editable d-flex justify-content-between  flex-column mb-4">
          <div>
            <div class="tiles-icon-header">
              <svg xmlns="http://www.w3.org/2000/svg" width="80" height="80" viewbox="0 0 99 99" version="1.1">
  <title>5C3B5768-79BE-4B49-A916-6137F5C72DFB</title>
  <desc>Created with sketchtool.</desc>
  <defs>
    <circle id="path-1" cx="39.5" cy="39.5" r="39.5"></circle>
    <filter x="-22.2%" y="-15.8%" width="144.3%" height="144.3%" filterunits="objectBoundingBox" id="filter-2">
      <feoffset dx="0" dy="5" in="SourceAlpha" result="shadowOffsetOuter1"></feoffset>
      <fegaussianblur stddeviation="5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></fegaussianblur>
      <fecolormatrix values="0 0 0 0 0 0 0 0 0 0.137254902 0 0 0 0 0.294117647 0 0 0 0.15 0" type="matrix" in="shadowBlurOuter1"></fecolormatrix>
    </filter>
  </defs>
  <g id="UI" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="PGA_UI_Membership" transform="translate(-367.000000, -534.000000)">
      <g id="Group-4" transform="translate(145.000000, 539.000000)">
        <g id="Card">
          <g id="Group" transform="translate(40.000000, 0.000000)">
            <g id="Group-2">
              <g id="Group-3">
                <g id="White-icon" transform="translate(192.000000, 0.000000)">
                  <g id="icon-education">
                    <use fill="#FFFFFF" fill-rule="evenodd"></use>
                  </g>
                  <g id="path-1-link" fill="#FFFFFF">
                    <circle id="path-1" cx="39.5" cy="39.5" r="39.5"></circle>
                  </g>
                  <g id="Associate-icon-gold" transform="translate(4.000000, 4.000000)" stroke="#B4975A">
                    <path d="M10.3747173,10.3747173 C24.1925324,-3.44309787 46.5782949,-3.46044015 60.3747173,10.3359822 C74.1711396,24.1324046 74.1537973,46.5181671 60.3359822,60.3359822 C46.5181671,74.1537973 24.1324046,74.1711396 10.3359822,60.3747173 C-3.46044015,46.5782949 -3.44309787,24.1925324 10.3747173,10.3747173 Z" id="icon-membership" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="80,4,4,4"></path>
                    <g id="golf-(1)" transform="translate(23.000000, 18.000000)" stroke-linecap="square" stroke-width="1.75">
                      <path d="M22.5,9.5 L13.5,9.5 L13.5,5.7878265 C13.5,5.0035395 13.9584064,4.291634 14.6723938,3.9670934 L21.6723938,0.7852754 C22.9965935,0.183367 24.5,1.151431 24.5,2.6060083 L24.5,7.5 C24.5,8.6045694 23.6045704,9.5 22.5,9.5 Z" id="Shape"></path>
                      <path d="M13.5,9.5 L13.5,19.5" id="Shape"></path>
                      <path d="M2.5,13.5 L9.5,13.5 L9.5,10.7997465 C9.5,10.0093689 9.0345325,9.2931261 8.3122768,8.9721231 L3.3122768,6.7499008 C1.9897022,6.1620898 0.5,7.1302071 0.5,8.5775242 L0.5,11.5 C0.5,12.6045694 1.3954306,13.5 2.5,13.5 Z" id="Shape"></path>
                      <path d="M9.5,13.5 L9.5,19.5" id="Shape"></path>
                      <rect id="Rectangle-path" x="2.5" y="19.5" width="18" height="4"></rect>
                      <path d="M18,24 L18,34" id="Shape"></path>
                      <path d="M6,34 L6,24.0237228" id="Shape"></path>
                    </g>
                  </g>
                </g>
              </g>
            </g>
          </g>
        </g>
      </g>
    </g>
  </g>
</svg>
            </div>
            <h3 class="mt-4 mb-3">Player Ability Test (PAT)</h3>
            <p>The Playing Ability Test or "PAT" is a measure of golfing ability. It means PGA Professionals have the skills needed to teach and grow the game.</p>
          </div>
          <div>
            <a href="/how-to-become-a-pga-member/associate-program-details#playerAbilityTest" class="btn btn-primary mt-1">Read More</a> <br>
            <a href="http://apps.pga.org/patinfo/patsearch.cfm" target="_blank" class="btn btn-link mt-1">Schedule Your PAT </a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="bg-navy tiles-stretch py-5 px-4  text-center editable d-flex justify-content-between  flex-column mb-4">
          <div>
            <div class="tiles-icon-header">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewbox="0 0 79 79" version="1.1">
  <title>icon-golf копія 2</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-golf-копія-2">
      <g id="icon-education">
        <g id="path-1-link" fill="#000000" fill-rule="nonzero">
          <circle id="path-1" cx="39.5" cy="39.5" r="39.5"></circle>
        </g>
        <g id="path-1-link" fill="#FFFFFF">
          <circle id="path-1" cx="39.5" cy="39.5" r="39.5"></circle>
        </g>
      </g>
      <g id="Associate-icon-gold" transform="translate(4.000000, 4.000000)" stroke="#B4975A" stroke-dasharray="80,4,4,4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M10.3747173,10.3747173 C24.1925324,-3.44309787 46.5782949,-3.46044015 60.3747173,10.3359822 C74.1711396,24.1324046 74.1537973,46.5181671 60.3359822,60.3359822 C46.5181671,74.1537973 24.1324046,74.1711396 10.3359822,60.3747173 C-3.46044015,46.5782949 -3.44309787,24.1925324 10.3747173,10.3747173 Z" id="icon-membership"></path>
      </g>
      <g id="like" transform="translate(27.000000, 25.000000)" fill="#B4975A" fill-rule="nonzero">
        <path d="M24.9779234,13.8210313 C24.9779234,12.5024961 23.9132056,11.4298437 22.6045363,11.4298437 L21.7965726,11.4298437 L18.3013609,11.4298437 C18.9677923,10.2143945 19.3221774,9.06724609 19.3221774,7.48292187 L19.3221774,7.22688281 C19.3221774,7.22673047 19.3221774,7.22662891 19.3221774,7.22647656 C19.3219254,6.37426562 18.9950101,5.57065234 18.4014617,4.96371484 C17.8082661,4.35713281 17.0162802,4.01567969 16.171371,4.002375 C16.1633065,4.00227344 16.1551915,4.00217187 16.147127,4.00217187 C15.3282258,4.00217187 14.6120968,4.65836719 14.5448589,5.47599609 C14.224244,9.37503125 10.4951613,11.3843437 8.00075605,12.6064453 L8.00075605,12.2029883 C8.00075605,11.7815039 7.66159274,11.4398477 7.24329637,11.4398477 L0.77953629,11.4398477 C0.361189516,11.4398477 0.0220766129,11.7815547 0.0220766129,12.2029883 L0.0220766129,25.2273633 C0.0220766129,25.6487969 0.361239919,25.9905039 0.77953629,25.9905039 L5.62731855,25.9905039 C6.55584677,25.9905039 7.3609879,25.4502422 7.75075605,24.6655703 C10.4485383,25.8462344 12.7922883,26 15.4838206,26 C15.9435484,26 16.4138609,25.9955313 16.8974294,25.9909102 C17.4321573,25.985832 17.9850806,25.9805508 18.5647177,25.9805508 L20.959627,25.9805508 C22.2683468,25.9805508 23.3330141,24.9078477 23.3330141,23.5893633 C23.3330141,23.146043 23.2126512,22.7305508 23.003125,22.3742188 C23.6850302,21.9535977 24.1409778,21.1961445 24.1409778,20.3332695 C24.1409778,19.8899492 24.0206653,19.474457 23.8110887,19.118125 C24.492994,18.6975039 24.9489415,17.9400508 24.9489415,17.0771758 C24.9489415,16.4562227 24.7127016,15.8899609 24.3261593,15.4644648 C24.7295867,15.0355664 24.9779234,14.4571172 24.9779234,13.8210313 Z M6.48578629,23.5992656 C6.48578629,24.0762031 6.10070565,24.4641719 5.62731855,24.4641719 L4.76885081,24.4641719 L4.76885081,21.9712187 C4.76885081,21.5497344 4.4296875,21.2080781 4.01139113,21.2080781 C3.59309476,21.2080781 3.25393145,21.5497852 3.25393145,21.9712187 L3.25393145,24.4641719 L1.53704637,24.4641719 L1.53704637,12.9660781 L6.48583669,12.9660781 L6.48583669,23.5992656 L6.48578629,23.5992656 Z M20.9886089,16.2122187 L21.7965726,16.2122187 L22.5755544,16.2122187 C23.0489415,16.2122187 23.4340222,16.6001875 23.4340222,17.077125 C23.4340222,17.5540625 23.0489415,17.9420312 22.5755544,17.9420312 L21.7965726,17.9420312 L21.7675907,17.9420312 L20.9886089,17.9420312 C20.5702621,17.9420312 20.2311492,18.2837383 20.2311492,18.7051719 C20.2311492,19.1266055 20.5703125,19.4683125 20.9886089,19.4683125 L21.7675907,19.4683125 C22.2409778,19.4683125 22.6260585,19.8562812 22.6260585,20.3332188 C22.6260585,20.8101562 22.2409778,21.198125 21.7675907,21.198125 L20.959627,21.198125 C20.5412802,21.198125 20.2021673,21.539832 20.2021673,21.9612656 C20.2021673,22.3826992 20.5413306,22.7244062 20.959627,22.7244062 C21.4330141,22.7244062 21.8180948,23.112375 21.8180948,23.5893125 C21.8180948,24.06625 21.4330141,24.4542187 20.959627,24.4542187 L18.5647177,24.4542187 C17.9779234,24.4542187 17.421371,24.4595 16.8831149,24.4646797 C13.506502,24.4968242 11.025756,24.5205898 8.01068548,23.1101406 L8.01068548,14.2968008 L8.01063508,14.2968008 C8.08946573,14.2584102 8.1703629,14.2190547 8.25287298,14.1789883 C9.56965726,13.5393477 11.3730343,12.6633711 12.9236391,11.3366094 C14.821875,9.71232031 15.8753528,7.78288672 16.0546371,5.60193359 C16.056754,5.57603516 16.1061492,5.52835156 16.1468246,5.52835156 C16.1470766,5.52835156 16.147379,5.52835156 16.147631,5.52835156 C17.062752,5.54277344 17.8072581,6.30494922 17.8072581,7.22733984 L17.8072581,7.48287109 C17.8072581,9.06927734 17.396623,10.0730195 16.5377016,11.429793 L15.3328629,11.429793 C14.9145161,11.429793 14.5754032,11.7715 14.5754032,12.1929336 C14.5754032,12.614418 14.9145665,12.9560742 15.3328629,12.9560742 L16.9541835,12.9560742 C16.9549395,12.9560742 16.9556956,12.9560742 16.9564516,12.9560742 L21.7965726,12.9560742 L22.6045363,12.9560742 C23.0779234,12.9560742 23.463004,13.344043 23.463004,13.8209805 C23.463004,14.297918 23.0779234,14.6858867 22.6045363,14.6858867 L21.7965726,14.6858867 L20.9886089,14.6858867 C20.5702621,14.6858867 20.2311492,15.0275937 20.2311492,15.4490273 C20.2311492,15.8705117 20.5703125,16.2122187 20.9886089,16.2122187 Z" id="Shape"></path>
        <path d="M23.4025706,5.63986719 L21.7866431,5.63986719 C21.3682964,5.63986719 21.0291835,5.98157422 21.0291835,6.40300781 C21.0291835,6.82444141 21.3683468,7.16614844 21.7866431,7.16614844 L23.4025706,7.16614844 C23.8209173,7.16614844 24.1600302,6.82444141 24.1600302,6.40300781 C24.1600302,5.98157422 23.8209173,5.63986719 23.4025706,5.63986719 Z" id="Shape"></path>
        <path d="M12.0910786,5.63986719 L10.4751512,5.63986719 C10.0568044,5.63986719 9.71769153,5.98157422 9.71769153,6.40300781 C9.71769153,6.82444141 10.0568548,7.16614844 10.4751512,7.16614844 L12.0910786,7.16614844 C12.509375,7.16614844 12.8485383,6.82444141 12.8485383,6.40300781 C12.8485383,5.98157422 12.509375,5.63986719 12.0910786,5.63986719 Z" id="Shape"></path>
        <path d="M15.1709173,1.79166406 L14.3629536,0.381722656 C14.1537802,0.0167070312 13.6905242,-0.108367188 13.3282762,0.102425781 C12.9659778,0.313167969 12.8418851,0.779898437 13.0510585,1.14486328 L13.8590222,2.55480469 C13.9992944,2.79967187 14.2539315,2.93647656 14.5156754,2.93647656 C14.6441532,2.93647656 14.7744456,2.90351953 14.8936996,2.83410156 C15.2559476,2.62341016 15.3800907,2.15667969 15.1709173,1.79166406 Z" id="Shape"></path>
        <path d="M20.5494456,0.102425781 C20.1871472,-0.108417969 19.7238407,0.0167578125 19.5147681,0.381722656 L18.7068044,1.79166406 C18.4975806,2.15662891 18.6217238,2.62341016 18.9840222,2.83410156 C19.1032762,2.90351953 19.2335181,2.93647656 19.3620464,2.93647656 C19.6238407,2.93647656 19.8784778,2.79962109 20.0186996,2.55480469 L20.8266633,1.14486328 C21.0358367,0.779898438 20.911744,0.313167969 20.5494456,0.102425781 Z" id="Shape"></path>
      </g>
    </g>
  </g>
</svg>
            </div>
            <h3 class="mt-4 mb-3">Qualifying Test</h3>
            <p>Applicants need to purchase and review the three qualifying level courses to be eligible to register for the qualifying test.</p>
          </div>
          <div>
            <a href="/how-to-become-a-pga-member/associate-program-details#qualifyingTest" class="btn btn-primary mt-1">Read more</a> <br>
            <a href="https://apps.pga.org/pgapgm/index.cfm" target="_blank" class="btn btn-link mt-1">Register</a>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="bg-navy tiles-stretch py-5 px-4  text-center editable  d-flex justify-content-between  flex-column mb-4">
          <div>
            <div class="tiles-icon-header">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewbox="0 0 79 79" version="1.1">
  <title>icon-golf копія 2</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-golf-копія-2">
      <g id="icon-education">
        <g id="path-1-link" fill="#000000" fill-rule="nonzero">
          <circle id="path-1" cx="39.5" cy="39.5" r="39.5"></circle>
        </g>
        <g id="path-1-link" fill="#FFFFFF">
          <circle id="path-1" cx="39.5" cy="39.5" r="39.5"></circle>
        </g>
      </g>
      <g id="Associate-icon-gold" transform="translate(4.000000, 4.000000)" stroke="#B4975A" stroke-dasharray="80,4,4,4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M10.3747173,10.3747173 C24.1925324,-3.44309787 46.5782949,-3.46044015 60.3747173,10.3359822 C74.1711396,24.1324046 74.1537973,46.5181671 60.3359822,60.3359822 C46.5181671,74.1537973 24.1324046,74.1711396 10.3359822,60.3747173 C-3.46044015,46.5782949 -3.44309787,24.1925324 10.3747173,10.3747173 Z" id="icon-membership"></path>
      </g>
      <g id="handshake" transform="translate(20.000000, 24.000000)" fill="#B4975A" fill-rule="nonzero">
        <path d="M26.0551837,5.01325641 C25.9668367,4.92423077 25.857,4.85984615 25.7384082,4.82248718 L18.5950408,2.58253846 C15.7384898,1.68671795 13.8800204,3.2494359 13.3793878,3.751 C13.0872857,4.04271795 12.8636327,4.35033333 12.7490204,4.61820513 L9.56693878,12.0931795 C9.38467347,12.5208205 9.4467551,13.0907436 9.7324898,13.6590769 C10.1415918,14.470641 10.8786122,15.0556667 11.7596939,15.2663077 C12.7458367,15.5023846 13.7685918,15.1820513 14.5692857,14.3832051 C14.7786122,14.1741538 14.956898,13.943641 15.0619592,13.7481026 L16.1316735,11.7664872 C16.3075714,11.4382051 16.5630612,11.098 16.8320816,10.8293333 C17.7497755,9.91205128 18.1859388,10.3317436 18.3713878,10.5097949 C19.9719796,12.052641 28.3633469,20.4687436 28.3633469,20.4687436 C28.6618163,20.7668205 28.5997347,21.3319744 28.226449,21.7039744 C27.8539592,22.0751795 27.2872653,22.1387692 26.9895918,21.8422821 L24.6320816,19.4886667 C24.3280408,19.1842308 23.8377551,19.1842308 23.5337143,19.4886667 C23.2296735,19.7899231 23.2296735,20.2819487 23.5337143,20.5847949 L25.8912245,22.94 C26.188898,23.2364872 26.1268163,23.801641 25.7543265,24.1728462 C25.3818367,24.545641 24.8143469,24.607641 24.5182653,24.3111538 L22.1599592,21.9575385 C21.8559184,21.6538974 21.3640408,21.6538974 21.0615918,21.9575385 C20.757551,22.2587949 20.757551,22.7508205 21.0615918,23.0544615 L23.419102,25.4088718 C23.7167755,25.7061538 23.6523061,26.2713077 23.2806122,26.6433077 C22.9089184,27.0145128 22.3430204,27.0781026 22.044551,26.7800256 L19.6870408,24.4264103 C19.3845918,24.1235641 18.8919184,24.1235641 18.5886735,24.4264103 C18.2862245,24.7292564 18.2862245,25.2212821 18.5886735,25.5225385 L20.9461837,27.8777436 C21.2446531,28.1758205 21.1809796,28.7409744 20.8092857,29.1129744 C20.4352041,29.4849744 19.8693061,29.5477692 19.5724286,29.2504872 L16.7023469,26.3817949 C17.1122449,25.7665641 17.0008163,24.8739231 16.3927347,24.2642564 C15.7114286,23.584641 14.6632041,23.5218462 14.0567143,24.1291282 C14.6632041,23.522641 14.6035102,22.4773846 13.9206122,21.7961795 C13.2377143,21.1157692 12.1918776,21.0529744 11.5853878,21.6586667 C12.1918776,21.0529744 12.1305918,20.0085128 11.446898,19.3281026 C10.7655918,18.6461026 9.7197551,18.5841026 9.11167347,19.1897949 C9.7197551,18.5841026 9.65687755,17.539641 8.97477551,16.8568462 C8.33644898,16.219359 7.38532653,16.1327179 6.76689796,16.6183846 L2.11953061,11.9771282 C1.81628571,11.6734872 1.32361224,11.6734872 1.02036735,11.9771282 C0.717918367,12.2791795 0.717918367,12.7712051 1.02036735,13.0748462 L5.65579592,17.7033846 L4.2812449,19.0761282 C3.6747551,19.6810256 3.73604082,20.7254872 4.41973469,21.4082821 C5.10104082,22.0886923 6.14687755,22.1514872 6.75416327,21.545 C6.14687755,22.1514872 6.20895918,23.1951538 6.89185714,23.8771538 C7.57316327,24.5567692 8.61979592,24.6211538 9.22708163,24.0146667 C8.61979592,24.6211538 8.68108163,25.6648205 9.36397959,26.3460256 C10.0468776,27.0280256 11.0927143,27.0900256 11.6992041,26.4843333 C11.0927143,27.0892308 11.154,28.1328974 11.836898,28.8156923 C12.519,29.4961026 13.5640408,29.5588974 14.1721224,28.9524103 L15.6238776,27.503359 L18.4740612,30.349 C19.3837959,31.2575385 20.9223061,31.1939487 21.9076531,30.2114872 C22.3875918,29.7321795 22.6438776,29.1201282 22.6796939,28.5144359 C23.2861837,28.4786667 23.8998367,28.2219231 24.3789796,27.7418205 C24.8597143,27.2625128 25.1175918,26.6504615 25.1542041,26.0447692 C25.759898,26.009 26.3711633,25.7530513 26.8534898,25.2729487 C27.3334286,24.7928462 27.5905102,24.1815897 27.6255306,23.5751026 C28.2328163,23.5401282 28.8456735,23.2841795 29.3264082,22.8024872 C30.3101633,21.8200256 30.3706531,20.2811538 29.4633061,19.3742051 L28.2614694,18.1731538 L33.1961633,13.2457436 C33.4994082,12.9436923 33.4994082,12.4516667 33.1961633,12.1488205 L26.0551837,5.01325641 Z" id="Shape"></path>
        <path d="M37.7504082,6.74766667 L31.4618571,0.467384615 C30.8553673,-0.139102564 29.8708163,-0.139102564 29.2635306,0.467384615 L27.0652041,2.66123077 C26.4587143,3.26692308 26.4587143,4.25017949 27.0652041,4.85587179 L33.354551,11.1377436 C33.9618367,11.7434359 34.9463878,11.7434359 35.5528776,11.1377436 L37.7504082,8.94310256 C38.356102,8.33661538 38.356102,7.35335897 37.7504082,6.74766667 Z M34.4497347,9.94623077 C33.7461429,9.94623077 33.1746735,9.37630769 33.1746735,8.67284615 C33.1746735,7.96938462 33.7461429,7.39866667 34.4497347,7.39866667 C35.1541224,7.39866667 35.7255918,7.96858974 35.7255918,8.67284615 C35.7247959,9.37551282 35.1541224,9.94623077 34.4497347,9.94623077 Z" id="Shape"></path>
      </g>
    </g>
  </g>
</svg>
            </div>
            <h3 class="mt-4 mb-3">Eligible Employment</h3>
            <p>Applicants must be employed in a qualifying position to be a eligible to register as an associate.</p>
          </div>
          <div>
            <a href="/how-to-become-a-pga-member/associate-program-details#eligibleEmployment" class="btn btn-primary mt-1">Read more</a> <br>
            <a href="http://jobs.pga.org" target="_blank" class="btn btn-link mt-1">Find a Job</a>
          </div>
        </div>

      </div>
      <div class="col-xl-3 col-lg-4 col-md-6">
        <div class="bg-navy tiles-stretch py-5 px-4   text-center editable d-flex justify-content-between  flex-column mb-4">
          <div>
            <div class="tiles-icon-header">
              <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" viewbox="0 0 79 79" version="1.1">
  <title>icon-golf копія 2</title>
  <desc>Created with Sketch.</desc>
  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
    <g id="icon-golf-копія-2">
      <g id="icon-education">
        <g id="path-1-link" fill="#000000" fill-rule="nonzero">
          <circle id="path-1" cx="39.5" cy="39.5" r="39.5"></circle>
        </g>
        <g id="path-1-link" fill="#FFFFFF">
          <circle id="path-1" cx="39.5" cy="39.5" r="39.5"></circle>
        </g>
      </g>
      <g id="Associate-icon-gold" transform="translate(4.000000, 4.000000)" stroke="#B4975A" stroke-dasharray="80,4,4,4" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
        <path d="M10.3747173,10.3747173 C24.1925324,-3.44309787 46.5782949,-3.46044015 60.3747173,10.3359822 C74.1711396,24.1324046 74.1537973,46.5181671 60.3359822,60.3359822 C46.5181671,74.1537973 24.1324046,74.1711396 10.3359822,60.3747173 C-3.46044015,46.5782949 -3.44309787,24.1925324 10.3747173,10.3747173 Z" id="icon-membership"></path>
      </g>
      <g id="check-form" transform="translate(28.000000, 27.000000)" fill="#B4975A" fill-rule="nonzero">
        <path d="M19.2994104,14.2880276 L19.2994104,2.17036552 L2.11851415,2.17036552 L2.11851415,24.7780552 L10.0216981,24.7780552 C10.5886792,24.7780552 11.0525354,25.2663517 11.0525354,25.8632069 C11.0525354,26.4600621 10.5886792,26.9483586 10.0216981,26.9483586 L1.08761792,26.9483586 C0.520636792,26.9483586 0.0567806604,26.4600621 0.0567806604,25.8632069 L0.0567806604,1.08515172 C0.0567806604,0.488296552 0.520695755,0 1.08761792,0 L20.3301887,0 C20.8971698,0 21.3610259,0.488296552 21.3610259,1.08515172 L21.3610259,14.2880276 C21.3610259,14.8848828 20.8971698,15.3731793 20.3301887,15.3731793 C19.7632075,15.3731793 19.2994104,14.8848828 19.2994104,14.2880276 Z M24.6083137,16.9286276 C24.1787736,16.5307034 23.5259434,16.5668897 23.1479363,17.0190621 L17.4954009,23.6385931 L14.6605542,20.7628759 C14.2482311,20.3468897 13.595342,20.3649517 13.2001769,20.7990621 C12.8050118,21.2331724 12.8221698,21.9204 13.2345519,22.3363862 L16.8425118,25.9897655 C17.0314858,26.1886966 17.2892099,26.2972552 17.564092,26.2972552 C17.58125,26.2972552 17.58125,26.2972552 17.598467,26.2972552 C17.8733491,26.2791931 18.1482311,26.1525724 18.3200472,25.9355172 L24.6770047,18.4840138 C25.0721698,18.0137793 25.0377948,17.3265517 24.6083137,16.9286276 Z M15.5195755,6.33016552 L6.24192217,6.33016552 C5.67494104,6.33016552 5.21108491,6.81846207 5.21108491,7.41531724 C5.21108491,8.01217241 5.67494104,8.50046897 6.24192217,8.50046897 L15.5195755,8.50046897 C16.0865566,8.50046897 16.5504127,8.01217241 16.5504127,7.41531724 C16.5504127,6.81846207 16.0865566,6.33016552 15.5195755,6.33016552 Z M16.5504717,13.3837448 C16.5504717,12.7868897 16.0866156,12.2985931 15.5196344,12.2985931 L6.24192217,12.2985931 C5.67494104,12.2985931 5.21108491,12.7868897 5.21108491,13.3837448 C5.21108491,13.9806 5.67494104,14.4688966 6.24192217,14.4688966 L15.5195755,14.4688966 C16.0865566,14.4688966 16.5504717,13.9806 16.5504717,13.3837448 Z M6.24192217,18.0861517 C5.67494104,18.0861517 5.21108491,18.5744483 5.21108491,19.1713034 C5.21108491,19.7681586 5.67494104,20.2564552 6.24192217,20.2564552 L8.99086085,20.2564552 C9.55784198,20.2564552 10.0216981,19.7681586 10.0216981,19.1713034 C10.0216981,18.5744483 9.55784198,18.0861517 8.99086085,18.0861517 L6.24192217,18.0861517 Z" id="Shape"></path>
      </g>
    </g>
  </g>
</svg>
            </div>
            <h3 class="mt-4 mb-3">Background Check</h3>
            <p>Applicants registering or re-registering as an associate must complete a Background Check. </p>
          </div>
          <div>
            <a href="/how-to-become-a-pga-member/associate-program-details#backgroundCheck" class="btn btn-primary mt-1">Read more</a> <br>
            <a href="https://www.emplscreen.com/pga.asp" target="_blank" class="btn btn-link mt-1">Get Started</a>
          </div>
        </div>
      </div>
      <div class="col-md-12 text-center mt-5">
        <a href="/Document-Library/apprentice-application-form-202.pdf" target="_blank" class="btn btn-primary">APPLY NOW <br> to become an Associate</a>
      </div>
    </div>
  </div>
</section>
<section class="section-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <div class="tiles-wrapper">
          <div class="p-5 text-center editable">
            <h2 class="text-secondary">PGA PGM 2.0 Associate Program Overview</h2>
            <p class="mb-5">To be elected to membership once admitted to the PGA PGM 2.0 Associate Program, <br> Associates will have to meet the appropriate milestones and requirements:</p>
            <div class="text-left">
              <div class="media mb-4">
                <img src="/assets/images/icons/icon-progress.svg" alt="" class="mt-1">
                <div class="media-body ml-3">
                  <strong class="text-secondary">Acceptable Progress</strong>
                  <ul class="list-unstyled">
                    <li>
<strong class="text-info">Level 1</strong> must be successfully completed within two years of the Level 1 Start Date </li>
                    <li>
<strong class="text-info">Level 2</strong> must be successfully completed within two years of the Level 2 Start Date</li>
                    <li>
<strong class="text-info">Level 3</strong> and election to PGA Membership must be successfully accomplished within eight years of the Level 1 Start Date</li>
                  </ul>
                </div>
              </div>
              <div class="media mb-4">
                <img src="/assets/images/icons/icon-employment.svg" alt="" class="mt-1">
                <div class="media-body ml-3">
                  <strong class="text-secondary">Employment</strong> - must maintain eligible employment
                </div>
              </div>
              <div class="media mb-4">
                <img src="/assets/images/icons/icon-citizenship.svg" alt="">
                <div class="media-body ml-3">
                  <strong class="text-secondary">Citizenship</strong> - must be either a U.S. Citizen or a resident alien to be elected to PGA Membership
                </div>
              </div>
              <div class="media mb-4">
                <img src="/assets/images/icons/icon-education.svg" alt="">
                <div class="media-body ml-3">
                  <strong class="text-secondary">Education</strong> - must have a high school diploma or be at least 18 years of age and have the equivalent of a high school education
                </div>
              </div>
              <div class="media mb-4">
                <img src="/assets/images/icons/icon-fees.svg" alt="">
                <div class="media-body ml-3">
                  <strong class="text-secondary">Fees</strong> - must be current on all fees and costs associated with the application process. We also have a <a href="http://jobfinder.pga.org/helpwanted/empcenter/pgaandyou/getdues.cfm?dues=yes">fee calculator</a>                  available for your use. (open fee calculator link in a new window)
                </div>
              </div>
              <div class="media mb-4">
                <img src="/assets/images/icons/icon-note.svg" alt="">
                <div class="media-body ml-3">
                  <strong class="text-secondary">Note:</strong> All applicants are required to read and write in English to successfully complete the PGA Professional Golf Management Program. <br>
                  If you have any questions concerning this information or requirements to become a PGA Member, call PGA Membership Services at (800) 474-2776.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>